name: Todoist Readme

on:
  workflow_dispatch:
  schedule:
    # Runs every 5 minutes
    - cron: "*/5 * * * *"

jobs:
  update-readme:
    name: Update todoist stats
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: b00y0h/todoist-readme-v2@master
        with:
          TODOIST_API_KEY: ${{ secrets.TODOIST_API_KEY }}
          PREMIUM: ""
